<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white"> JWT auth System</a>
    <ul class="nvabar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/adminpanle">Admin Panle </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/payment">payment Details </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/parent">parent to child data pass </a>
        </li>
    </ul>

    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div class="card m-5" style="width:18rem;" *ngIf="userDetails">
    <ul class="list-group">
        <li class="list-group-item"><strong>{{userDetails.userName}}</strong></li>
        <li class="list-group-item"><strong>{{userDetails.city}}</strong></li>
        <li class="list-group-item"><strong>{{userDetails.state}}</strong></li>
        <li class="list-group-item"><strong>{{userDetails.postalCode}}</strong></li>
        <li class="list-group-item"><strong>{{userDetails.email}}</strong></li>
        <li class="list-group-item"><strong>{{userDetails.fullName}}</strong></li>
    </ul>
</div>